* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#logo {
  width: 150px;
  margin: 20px;
}

#searchBar {
  display: flex;
  align-items: center;
  width: 70%;
  height: 60px;
  border-radius: 10px;
  background-color: #ed3833;
}

input#route {
  margin-left: 10px;
  height: 40px;
  width: 70%;
  border-radius: 5px;
  padding-left: 5px;
}

#searchBtn {
  color: white;
  font-weight: 500;
  height: 40px;
  width: 25%;
  margin-left: 10px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#searchBtn:hover {
  background-color: #e93f39;
}

.routeQ {
  width: 70%;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}

#routeChoice {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.choice {
  background-color: #dcdcdc;
  border-radius: 5px;
  height: 35px;
  min-width: 300px;
  margin-top: 15px;
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.choice:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* route info */
.container2 {
  width: 70%;
  counter-reset: step;
}

ul {
  width: 100%;
}
li {
  border-bottom: 1px solid rgb(188, 187, 187);
  width: 100%;
}

li:hover {
  background-color: #f4f2f2;
}

.stopName {
  display: flex;
}
.circle {
  background-color: #ed3833;
  width: 40px;
  height: 40px;
  border-radius: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle p {
  background-color: white;
  width: 25px;
  height: 20px;
  text-align: center;
  font-size: small;
  border-radius: 2px;
}

.circle p::after {
  counter-increment: step;
  content: counter(step);
}

.stopName > button {
  margin-left: 10px;
  text-align: left;
}

.collapsible {
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: larger;
  z-index: 1;
  align-items: center;
  position: relative;
}
.stopName {
  display: flex;
  align-items: center;
}

.content {
  display: flex;
  width: 715px;
  margin-left: 65px;
  display: none;
  overflow: hidden;
  text-align: left;
  font-size: medium;
}
.content p {
  margin-top: 5px;
  margin-bottom: 5px;
}
.icon {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

img#ringbell,
img#refresh {
  margin-right: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  right: 0;
}

img.arrow {
  width: 25px;
  height: 20px;
  transform: rotate(0deg);
}
